In [3]:
import pandas as pd

In [4]:
s = pd.Series([9904312, 3448737, 2890451, 2466052],
              index=["서울", "부산", "인천", "대구"])
s

서울    9904312
부산    3448737
인천    2890451
대구    2466052
dtype: int64

In [5]:
pd.Series(range(10, 14))

0    10
1    11
2    12
3    13
dtype: int64

In [6]:
s.index

Index(['서울', '부산', '인천', '대구'], dtype='object')

In [7]:
s.values

array([9904312, 3448737, 2890451, 2466052], dtype=int64)

In [8]:
s.name = "인구"
s.index.name = "도시"
s

도시
서울    9904312
부산    3448737
인천    2890451
대구    2466052
Name: 인구, dtype: int64

In [9]:
s[1], s['부산']

(3448737, 3448737)

In [10]:
s[[0,2,1]]
s[['서울','대구','부산']]

도시
서울    9904312
대구    2466052
부산    3448737
Name: 인구, dtype: int64

In [11]:
s[(250e4<s)&(s<500e4)]

도시
부산    3448737
인천    2890451
Name: 인구, dtype: int64

In [12]:
s[1:3]

도시
부산    3448737
인천    2890451
Name: 인구, dtype: int64

In [13]:
s['부산':'대구'] # 문자열 인덱스 슬라이스의 경우 : 뒤에 오는 값 까지 포함함

도시
부산    3448737
인천    2890451
대구    2466052
Name: 인구, dtype: int64

In [14]:
s0 = pd.Series(range(3), index=["a", "b", "c"])
s0.a
s0.b
s0.c

2

In [15]:
"서울" in s

True

In [16]:
for k, v in s.items():
    print('%s = %d' % (k, v))

서울 = 9904312
부산 = 3448737
인천 = 2890451
대구 = 2466052

In [17]:
data = {"서울": 9631482, "부산": 3393191, "인천": 2632035, "대전": 1490158}
s2 = pd.Series(data)
s2

서울    9631482
부산    3393191
인천    2632035
대전    1490158
dtype: int64

In [18]:
# 순서가 보장되지 않으므로 인덱스를 써주어야함
s2 = pd.Series(data, index=["부산", "서울", "인천", "대전"])
s2

부산    3393191
서울    9631482
인천    2632035
대전    1490158
dtype: int64

In [19]:
# 같은 인덱스 끼리만 계산함
print(s)
print(s2)
ds = s - s2
print(ds)
# NaN은 Float 에서만 사용가능하므로 int 64 -> Float64 로 변경

도시
서울    9904312
부산    3448737
인천    2890451
대구    2466052
Name: 인구, dtype: int64
부산    3393191
서울    9631482
인천    2632035
대전    1490158
dtype: int64
대구         NaN
대전         NaN
부산     55546.0
서울    272830.0
인천    258416.0
dtype: float64

In [20]:
# 인덱스와 상관없이 계산함
print(s.values)
print(s2.values)
s.values - s2.values

[9904312 3448737 2890451 2466052]
[3393191 9631482 2632035 1490158]

array([ 6511121, -6182745,   258416,   975894], dtype=int64)

In [21]:
ds.notnull()
ds[ds.notnull()]

부산     55546.0
서울    272830.0
인천    258416.0
dtype: float64

In [22]:
rs = (s-s2)/s2*100
rs = rs[rs.notnull()]
rs

부산    1.636984
서울    2.832690
인천    9.818107
dtype: float64

In [23]:
rs["부산"] = 1.63
rs

부산    1.630000
서울    2.832690
인천    9.818107
dtype: float64

In [24]:
rs["대구"] = 1.41
rs

부산    1.630000
서울    2.832690
인천    9.818107
대구    1.410000
dtype: float64

In [25]:
if "서울" in rs.index: # key error 가 나지 않도록 index에 있는지 먼저 확인 후 삭제
    del rs["서울"]
rs.index.name

In [26]:
data = {
    "2015": [9904312, 3448737, 2890451, 2466052],
    "2010": [9631482, 3393191, 2632035, 2431774],
    "2005": [9762546, 3512547, 2517680, 2456016],
    "2000": [9853972, 3655437, 2466338, 2473990],
    "지역": ["수도권", "경상권", "수도권", "경상권"],
    "2010-2015 증가율": [0.0283, 0.0163, 0.0982, 0.0141]
}

columns = ["지역", "2015", "2010", "2005", "2000", "2010-2015 증가율"]
index = ["서울", "부산", "인천", "대구"]
df = pd.DataFrame(data, index=index, columns=columns)
df

     지역     2015     2010     2005     2000  2010-2015 증가율
서울  수도권  9904312  9631482  9762546  9853972         0.0283
부산  경상권  3448737  3393191  3512547  3655437         0.0163
인천  수도권  2890451  2632035  2517680  2466338         0.0982
대구  경상권  2466052  2431774  2456016  2473990         0.0141

In [27]:
df.values
df.columns
df.index

Index(['서울', '부산', '인천', '대구'], dtype='object')

In [28]:
df.index.name="도시"
df.columns.name="특성"
df

특성   지역     2015     2010     2005     2000  2010-2015 증가율
도시
서울  수도권  9904312  9631482  9762546  9853972         0.0283
부산  경상권  3448737  3393191  3512547  3655437         0.0163
인천  수도권  2890451  2632035  2517680  2466338         0.0982
대구  경상권  2466052  2431774  2456016  2473990         0.0141

In [29]:
df["2010-2015 증가율"] = df["2010-2015 증가율"] * 100
df

특성   지역     2015     2010     2005     2000  2010-2015 증가율
도시
서울  수도권  9904312  9631482  9762546  9853972           2.83
부산  경상권  3448737  3393191  3512547  3655437           1.63
인천  수도권  2890451  2632035  2517680  2466338           9.82
대구  경상권  2466052  2431774  2456016  2473990           1.41

In [30]:

df["2005-2010 증가율"] = ((df["2010"] - df["2005"]) / df["2005"] * 100).round(2)
df

특성   지역     2015     2010     2005     2000  2010-2015 증가율  2005-2010 증가율
도시
서울  수도권  9904312  9631482  9762546  9853972           2.83          -1.34
부산  경상권  3448737  3393191  3512547  3655437           1.63          -3.40
인천  수도권  2890451  2632035  2517680  2466338           9.82           4.54
대구  경상권  2466052  2431774  2456016  2473990           1.41          -0.99

In [31]:
if "2010-2015 증가율" in df.columns:
    del df["2010-2015 증가율"]
    
df

특성   지역     2015     2010     2005     2000  2005-2010 증가율
도시
서울  수도권  9904312  9631482  9762546  9853972          -1.34
부산  경상권  3448737  3393191  3512547  3655437          -3.40
인천  수도권  2890451  2632035  2517680  2466338           4.54
대구  경상권  2466052  2431774  2456016  2473990          -0.99

In [32]:
df[["지역", "2015"]]
df[["지역"]]

특성   지역
도시
서울  수도권
부산  경상권
인천  수도권
대구  경상권

In [33]:
import numpy as np
np.arange(12).reshape(3,4)

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [34]:
data = {
    "국어": [80, 90, 70, 30],
    "영어": [90, 70, 60, 40],
    "수학": [90, 60, 80, 70],
}
columns = ["국어", "영어", "수학"]
index = ["춘향", "몽룡", "향단", "방자"]
df = pd.DataFrame(data, index=index, columns=columns)

In [35]:
df.notnull().count()["국어"]

4

In [39]:
#모든 학생의 수학 점수를 시리즈로 나타낸다.
df["수학"]
#모든 학생의 국어와 영어 점수를 데이터 프레임으로 나타낸다.
df[["국어", "수학"]]

    국어  영어  수학
춘향  80  90  90
몽룡  90  70  60
향단  70  60  80
방자  30  40  70

In [38]:
#모든 학생의 각 과목 평균 점수를 새로운 열로 추가한다.
df.iloc[0].sum()

#방자의 영어 점수를 80점으로 수정하고 평균 점수도 다시 계산한다.

#춘향의 점수를 데이터프레임으로 나타낸다.
#향단의 점수를 시리즈로 나타낸다.

260