#### 데이터프레임 고급 인덱싱
* loc : 라벨값 기반의 2차원 인덱싱  
* iloc : 순서를 나타내는 정수 기반의 2차원 인덱싱  
* at: 라벨값 기반의 2차원 인덱싱 (한개의 스칼라 값만 찾는다)  
* iat : 순서를 나타내는 정수 기반의 2차원 인덱싱 (한개의 스칼라 값만 찾는다)

In [3]:
import pandas as pd
import numpy as np

In [29]:
df = pd.DataFrame(np.arange(10, 22).reshape(3,4), index=["a","b","c"], columns=["A","B","C","D"])
df

    A   B   C   D
a  10  11  12  13
b  14  15  16  17
c  18  19  20  21

In [12]:
df.loc["b":"c"]

    A   B   C   D
b  14  15  16  17
c  18  19  20  21

In [16]:
df.loc[["b", "c"]]

    A   B   C   D
b  14  15  16  17
c  18  19  20  21

In [23]:
df.loc[(df.A>15) | (df.B<=15)]

    A   B   C   D
a  10  11  12  13
b  14  15  16  17
c  18  19  20  21

In [24]:
df2 = pd.DataFrame(np.arange(10, 26).reshape(4, 4), columns=["A", "B", "C", "D"])
df2

    A   B   C   D
0  10  11  12  13
1  14  15  16  17
2  18  19  20  21
3  22  23  24  25

In [38]:
# df.loc["a","A"]
df.loc["b":, "A"]

b    14
c    18
Name: A, dtype: int32

In [39]:
df.loc[["a", "b"], ["B", "D"]]

    B   D
a  11  13
b  15  17

In [40]:
df.iloc[0,1]

11

In [43]:
df.iloc[:2, 2]

a    12
b    16
Name: C, dtype: int32

In [44]:
df.iloc[0, -2:]

C    12
D    13
Name: a, dtype: int32

In [51]:
df.iloc[-1] = df.iloc[-1]*2

In [52]:
df

     A    B    C    D
a   10   11   12   13
b   14   15   16   17
c  288  304  320  336

In [55]:
%timeit df.at["a", "A"]
%timeit df.iloc[0,0]

3.7 µs ± 282 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)
6.41 µs ± 335 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)